:root {
  --orange: #F08F69;
}

@font-face {
  font-family: 'Qlassy-elegant';
  src: url('../assets/fonts/qlassy-elegant-font.otf');
}

* {
  font-family: 'Qlassy-elegant';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}